:root {
    /* These variables are used to color the background of divs */
    --main: 255, 255, 255;
    --secondary: 40, 39, 38;

    /* These colors apply to buttons and other small things */
    --accent-1: 255, 72, 76;
    --accent-2: 0, 199, 182;
}

.bg-color--main {
    background-color: rgb(var(--main));
}
.bg-color--secondary {
    background-color: rgb(var(--secondary));
}
.bg-color--accent-1 {
    background-color: rgb(var(--accent-1));
}
.bg-color--accent-2 {
    background-color: rgb(var(--accent-2));
}
.text-color--main {
    color: rgb(var(--main));
}
.text-color--secondary {
    color: rgb(var(--secondary));
}
.text-color--accent-1 {
    color: rgb(var(--accent-1));
}
.text-color--accent-2 {
    color: rgb(var(--accent-2));
}

p, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

/*====================
* ▼ Nav Bar Styling ▼
**====================*/

.index-nav {
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    background-color: rgb(var(--main));
    align-items: center;
    padding: 20px 0 20px 40px;
}

.index-nav--right-side {
    position: relative;
    margin-left: auto;
    display: flex;
    align-items: center;
}

.index-nav--right-side a {
    color: rgba(var(--secondary), 0.5);
    transition: 0.15s;
}

.index-nav--right-side a:hover {
    color: rgba(var(--accent-1), 0.5);
    transform: translateY(-2px);
}

.separator-lg {
    margin: 0 50px;
    width: 2px;
    background-color: rgba(var(--secondary), 0.05);
    height: 40px;
    border-radius: 50%;
}

.separator-sm {
    margin: 0 25px;
    width: 2px;
    background-color: rgba(var(--secondary), 0.05);
    height: 40px;
    border-radius: 50%;
}

.company-name {
    transition: 0.15s;
    cursor: pointer;
}

.company-name:hover {
    transform: translateX(2px);
}

.navbar-nav {
    font-weight: bold;
}

.navbar-nav .nav-item:first-child > .nav-link {
    padding-left: 0;
}

.navbar-nav .nav-item:last-child > .nav-link {
    padding-right: 0;
}

/* Need this specificity to override some of Bootstrap's styles */
.navbar-nav .nav-item > .nav-link {
    color: black;
    transition: 0.15s;
}

.navbar-nav .nav-item > .nav-link:hover, .navbar-nav .nav-item > .nav-link:focus {
    color: black;
    transform: translateY(-2px);
}

.navbar-nav .dropdown-item:focus, .navbar-nav .dropdown-item:hover {
    background-color: rgb(var(--accent-1));
    color: rgb(var(--main));
}

.search-box--spacer {
    width: 100px;
}

.search-box {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(var(--accent-1));
    display: flex;
    justify-content: center;
    align-items: center;
}

/*====================
* ▲ Nav Bar Styling ▲
**====================*/

/*==========================
* ▼ Search Banner Styling ▼
**==========================*/

.search-banner-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.search-banner-row input, .search-banner-row select, .search-banner-row option {
    background-color: rgb(var(--secondary));
    border-color: rgba(var(--main), 0.5);
    color: rgba(var(--main), 0.5);
    transition: 0.25s;
    width: 200px;
}

.search-banner-row input:focus, .search-banner-row select:focus {
    background-color: rgb(var(--secondary));
    border-color: rgb(var(--accent-2));
    color: rgba(var(--main), 1);
    box-shadow: none;
}

option:hover {
    font-weight: bold;
}

input[type=submit].btn, .search-banner-row button {
    color: rgb(var(--main));
    background-color: rgb(var(--accent-1));
    padding-right: 1.5em;
    padding-left: 1.5em;
    font-weight: bold;
}

/*==========================
* ▲ Search Banner Styling ▲
**==========================*/
